<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <% if (typeof content1 != 'undefined') { %>
            <p><%= content1 %></p>
        <% } %>
        <% if (typeof content2 != 'undefined') { %>
            <p><%= content2 %></p>
        <% } %>
        <% if (typeof content3 != 'undefined') { %>
            <p><%= content3 %></p>
        <% } %>
    </body>
</html>