doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    if content1
        p= content1
    if content2
        p= content2
    if content3
        p= content3